In [48]:
import os
from dotenv import load_dotenv
import json 
import requests
import pandas as pd

In [49]:

load_dotenv("./env_info/.env")

url = os.getenv('usaspending_url')

In [233]:
parm = {'toptier_code': "005", 'fiscal_year': 2023}
endpoint = f"/api/v2/agency/{parm.get('toptier_code')}/budget_function?fiscal_year={parm.get('fiscal_year')}"
response = requests.get(url + endpoint, params=parm)

all_df = response.json()
all_df.pop('page_metadata')
all_df = pd.DataFrame.from_dict(all_df, orient='index').transpose()

In [234]:
pd.json_normalize(response.json(), record_path=["results", "children"],
                                                    meta=["toptier_code", "fiscal_year", ["results", "name"]])

,name,obligated_amount,gross_outlay_amount,toptier_code,fiscal_year,results.name
0,Legislative functions,5.496322e+08,5.600036e+08,005,2023,General Government

In [227]:
pd.json_normalize(response.json(), record_path=["results", "children"])

,name,code,obligated_amount,gross_outlay_amount
0,"Supplemental Nutrition Assistance Program, Foo...",012-2022/2022-3505-000,1.399794e+11,1.274088e+11
1,"Supplemental Nutrition Assistance Program, Foo...",012-2021/2021-3505-000,2.903117e+09,1.887568e+10
2,"Supplemental Nutrition Assistance Program, Foo...",012-2022/2023-3505-000,9.470397e+08,3.077883e+08
3,"Supplemental Nutrition Assistance Program, Foo...",012-2021/2023-3505-000,4.449233e+08,3.264825e+08
4,"Supplemental Nutrition Assistance Program, Foo...",012-2021/2022-3505-000,2.066044e+08,6.461433e+08
...,...,...,...,...
91,"National Forest System, Forest Service, Agricu...",014-012-X-1106-011,1.133353e+04,1.133353e+04
92,"Food for Peace Title II Grants, Foreign Agricu...",072-012-X-2278-000,1.341153e+09,1.327350e+09
93,"Food for Peace Title II Grants, Foreign Agricu...",012-X-2278-000,5.981745e+08,3.976561e+08
94,"Food for Peace Title II Grants, Foreign Agricu...",012-2021/2022-2278-000,4.010445e+08,3.884509e+08
95,"Food for Peace Title II Grants, Foreign Agricu...",072-012-2021/2022-2278-000,0.000000e+00,1.716369e+08

In [183]:
def drop_na_reset_index(df):
    df = df.dropna(axis=0, how='all')
    df = df.dropna(axis=1, how='all')
    df = df.reset_index(drop=True)
    return(df)
results = results_df.results.apply(pd.Series)
results.columns = results.columns.map(str)
result_df = pd.DataFrame()
result_children_df = pd.DataFrame()
for value in results.columns:
    print(value)
    results = pd.concat([results.drop([value], axis=1), results[value].apply(pd.Series)], axis=0)
results = drop_na_reset_index(results)
i = 0
for value in results.children:
    print(results.code[i])
    temp = pd.DataFrame(value)
    temp["main_code"] = results.code[i]
    result_children_df = pd.concat([result_children_df, temp], axis=0)
    i += 1
result_children_df = drop_na_reset_index(result_children_df)

0
1
2
3
4
5
6
7
8
9
012-3505
012-3539
012-4336
012-4085
012-3510
012-1115
012-1004
012-0115
012-1106
012-2278

In [184]:
result_children_df

,name,code,obligated_amount,gross_outlay_amount,main_code
0,"Supplemental Nutrition Assistance Program, Foo...",012-2022/2022-3505-000,1.399794e+11,1.274088e+11,012-3505
1,"Supplemental Nutrition Assistance Program, Foo...",012-2021/2021-3505-000,2.903117e+09,1.887568e+10,012-3505
2,"Supplemental Nutrition Assistance Program, Foo...",012-2022/2023-3505-000,9.470397e+08,3.077883e+08,012-3505
3,"Supplemental Nutrition Assistance Program, Foo...",012-2021/2023-3505-000,4.449233e+08,3.264825e+08,012-3505
4,"Supplemental Nutrition Assistance Program, Foo...",012-2021/2022-3505-000,2.066044e+08,6.461433e+08,012-3505
...,...,...,...,...,...
91,"National Forest System, Forest Service, Agricu...",014-012-X-1106-011,1.133353e+04,1.133353e+04,012-1106
92,"Food for Peace Title II Grants, Foreign Agricu...",072-012-X-2278-000,1.341153e+09,1.327350e+09,012-2278
93,"Food for Peace Title II Grants, Foreign Agricu...",012-X-2278-000,5.981745e+08,3.976561e+08,012-2278
94,"Food for Peace Title II Grants, Foreign Agricu...",012-2021/2022-2278-000,4.010445e+08,3.884509e+08,012-2278
95,"Food for Peace Title II Grants, Foreign Agricu...",072-012-2021/2022-2278-000,0.000000e+00,1.716369e+08,012-2278